<!DOCTYPE html>
<html lang="en-us">

<!-- CSS -->
<link rel="stylesheet" href="/public/css/poole.css">
<link rel="stylesheet" href="/public/css/syntax.css">
<link rel="stylesheet" href="/public/css/hyde.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Roboto+Condensed">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  {% include head.html %}

  <body class="theme-base-0b">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
  
  {% include google_analytics.html %}
</html>
